@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>

    <footer class="py-5 bg-transparent">
        <div class="container">
            <p class="m-0 text-center text-black-50">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>
</div>
